<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /pub/archive/gatekeeper.dec.com/pub/DEC/SRC/publications/template</title>
 </head>
 <body>
<h1>Index of /pub/archive/gatekeeper.dec.com/pub/DEC/SRC/publications/template</h1>
<pre><img src="/icons/blank.gif" alt="Icon "> <a href="?C=N;O=D">Name</a>                                                      <a href="?C=M;O=A">Last modified</a>      <a href="?C=S;O=A">Size</a>  <a href="?C=D;O=A">Description</a><hr><img src="/icons/back.gif" alt="[PARENTDIR]"> <a href="/pub/archive/gatekeeper.dec.com/pub/DEC/SRC/publications/">Parent Directory</a>                                                               -   
<img src="/icons/text.gif" alt="[TXT]"> <a href="talk-abs.html">talk-abs.html</a>                                             1997-11-06 01:00  849   
<hr></pre>
<address>Apache/2.4.38 (Debian) Server at ftp.zx.net.nz Port 443</address>
</body></html>
