<html><head><title>TITLE_TEXT</title></head>
<body bgcolor="#ffffff">

<center><h2>TITLE_TEXT</h2></center>

<center>AUTHOR</center><br>
<center>AUTHOR2</center><p>

<center>Systems Research Center</center><br>
<center>Digital Equipment Corporation</center><p>

<center><h3>Abstract</h3></center>

blablablablablablablablablablablablablablablablablablablablabla
blablablablablablablablablablablablablablablablablablablablabla
blablablablablablablablablablablablablablablablablablablablabla
blablablablablablablablablablablablablablablablablablablablabla
blablablablablablablablablablablablablablablablablablablablabla

<hr>

<b>Download/view talk as:</b>
<ul>
<a href=TALK.ppt>Powerpoint</a> -- SIZE1 Kbytes
<a href=TALK.pdf>PDF</a> -- SIZE2 Kbytes
<a href=TALK.ps>PostScript</a> -- SIZE3 Kbytes
</ul>

</body>
</html>
